h2 {
  color: #555555;
}
.inputWrapper {
  overflow: hidden;
}
#inputImage {
  max-width:100%;
}
#droparea {
  padding: 30px;
  background-color: gray;
}
.polygonName{
  padding-right: 10px;
}
.polygonNames{
}
