body{
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
}
h2 {
  color: #555555;
}
.inputWrapper {
  overflow: hidden;
}
#inputImage {
  max-width:100%;
}
#droparea {
  padding: 30px;
  background-color: gray;
}
.polygonName{
  padding-right: 10px;
}
.polygonNames{
}
#canvasPolygonDiv{
  height: 300px;
  position:relative;
  //overflow: hidden;
  span{
    -webkit-transition: top 3s, left 3s;
    transition: top 3s, left 3s;
  }
}
#backgroundPic{
  max-width: 300px;
  max-height: 300px;
  opacity: 0.5;
}
.textChangeInput{
  border: none;
  width: 100%;
}
